@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
$Font-Karla: 'Karla', sans-serif;

//Primary
$Cyan:hsl(179, 62%, 43%);
$Bright-Yellow: hsl(71, 73%, 54%);
$Cyan-light:hsl(179, 47%, 52%);

//Neutral
$Light-Gray: hsl(204, 43%, 93%);
$Grayish-blue: hsl(218, 22%, 67%);